In [6]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/test_xl.xlsx')

n = 13

m = 'jan'

# jan_test_arr = (pd.DataFrame(scd_df.iloc[13]))[1:32].values
# jan_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[13]))[1:32].values)
# jan_test_df = jan_test_df.rename(columns={0: 'jan'})

jan_arr_orig = (pd.DataFrame(scd_df.iloc[13]))[1:32].values
jan_arr = jan_arr_orig.reshape((1, 31))
jan_arr_df = pd.DataFrame(
    data = jan_arr, 
    columns = [list(range(1, 32))], 
    index = ['jan']  )

display(jan_arr_df)

feb_arr_orig = (pd.DataFrame(scd_df.iloc[15]))[1:32].values
feb_arr = feb_arr_orig.reshape((1, 31))
feb_arr_df = pd.DataFrame(
    data = feb_arr, 
    columns = [list(range(1, 32))], 
    index = ['feb']  )

display(feb_arr_df)

concatted = pd.concat([jan_arr_df, feb_arr_df]) 

display(concatted.info())

# feb_test_arr = (pd.DataFrame(scd_df.iloc[15]))[1:32].values
# feb_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[15]))[1:32].values)
# feb_test_df = feb_test_df.rename(columns={0: 'feb'})

# mar_test_arr = (pd.DataFrame(scd_df.iloc[17]))[1:32].values
# mar_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[17]))[1:32].values)
# mar_test_df = mar_test_df.rename(columns={0: 'mar'})

# print(mar_test_arr.shape)
# new_mar_arr = mar_test_arr.reshape((1, 31))
# print(new_mar_arr)
# df_test = pd.DataFrame(
#     data = new_mar_arr, 
#     columns = [list(range(1, 32))], 
#     index = ['mar']  )

# display(df_test)

# apr_test_arr = (pd.DataFrame(scd_df.iloc[20]))[1:32].values
# apr_test_df = pd.DataFrame((pd.DataFrame(scd_df.iloc[20]))[1:32].values)
# # apr_test_df['sallary'] = apr_test_df[0] * 100
# apr_test_df

# quarter_1_df = pd.concat( [jan_test_df, feb_test_df, mar_test_df], axis=1 )

# quarter_1_df.iloc[0]
# # scd_df[10:35]


# # df_test = pd.DataFrame(data = mar_test_arr, columns = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31], index = ['mar']  )

# # df_test = pd.DataFrame(data = mar_test_arr, columns=['mar'], index = list(range(1, 32))  )




# mar_test_arr_list = mar_test_arr.tolist()
# new_str = str(mar_test_arr_list)

# new_lst = []
# for elem in mar_test_arr_list:
#     if elem == ['В']:
#         new_lst.extend('В')

# new_lst

C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
jan,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,4/2,11/7,11/7,11/7,11/7,11/7,11/7,11/7

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
feb,11/7,11/7,11/7,11/7,11/7,11/7,7/5,10,10,10,10,10,10,10,10,10,10,10,10,10,5,В,В,В,В,В,В,В,В,х,х

<class 'pandas.core.frame.DataFrame'>
Index: 2 entries, jan to feb
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   (1,)    2 non-null      object
 1   (2,)    2 non-null      object
 2   (3,)    2 non-null      object
 3   (4,)    2 non-null      object
 4   (5,)    2 non-null      object
 5   (6,)    2 non-null      object
 6   (7,)    2 non-null      object
 7   (8,)    2 non-null      object
 8   (9,)    2 non-null      object
 9   (10,)   2 non-null      object
 10  (11,)   2 non-null      object
 11  (12,)   2 non-null      object
 12  (13,)   2 non-null      object
 13  (14,)   2 non-null      object
 14  (15,)   2 non-null      object
 15  (16,)   2 non-null      object
 16  (17,)   2 non-null      object
 17  (18,)   2 non-null      object
 18  (19,)   2 non-null      object
 19  (20,)   2 non-null      object
 20  (21,)   2 non-null      object
 21  (22,)   2 non-null      object
 22  (23,)   2 non-null      object
 23  (24,)   2 non-null      object
 24  (25,)   2 non-null      object
 25  (26,)   2 non-null      object
 26  (27,)   2 non-null      object
 27  (28,)   2 non-null      object
 28  (29,)   2 non-null      object
 29  (30,)   2 non-null      object
 30  (31,)   2 non-null      object
dtypes: object(31)
memory usage: 512.0+ bytes

None

In [ ]:
import pandas as pd

df = pd.DataFrame()

In [124]:
index_tst = list(range(1, 32))

print(index_tst)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31]

In [39]:
m = '11/7'

def data_conv(arg):
    try:
        arg = int(arg)
        return arg
    except:
        if '/' in arg:
            arg = arg.replace('/', ' ')
            arg = arg.split(' ')
            d = int(n[0]) + int(n[1])*0.4
            return d
        if arg == 'В':
            return 0

a = 'e'
a= int(a)

print(type(a))

ValueError: invalid literal for int() with base 10: 'e'

In [13]:
c = 6 % 2
if c % 2 == 0:
    print('yes')
print(c)

yes
0

In [34]:
import pandas as pd
import numpy as np

a = np.array([
    [1, 2, 3],
    [4, 5, 6]
] )

b = pd.DataFrame(data=a, index=[1, a.shape[0]], columns=list(range(1, (a.shape[1]+1))))
display(b)


def test_func(arg):
    print(type(arg))
    if arg % 2 == 0:
        
        return arg*2
    else:
        return arg
    
g = b.apply(lambda x:  x*2)

for elem in range(1, (a.shape[1]+1)):
    b[elem] = b[elem].apply(test_func)

h = np.array(g)

# ['a', 'b', 'c']

# c = list(range(1, (a.shape[1]+1)))
# print(c)
# print(a.shape)
# print(b)
print(b)
print(h)

   1  2  3
1  1  2  3
2  4  5  6

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
   1  2   3
1  1  4   3
2  8  5  12
[[ 2  4  6]
 [ 8 10 12]]

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

# Создание DF из исходного графика в формате эксель
scd_df = pd.read_excel('data/test_xl.xlsx')


date_keys = [(13, 'jan'), (15, 'feb'), (17, 'mar'), 
             (20, 'apr'), (22, 'may'), (24, 'jun'), 
             (28, 'july'), (30, 'aug'), (32, 'sep'), 
             (35, 'oct'), (37, 'nov'), (39, 'dec')
             ]

year_schdl_df = pd.DataFrame(columns = [list(range(1, 32))])

for elem in date_keys:
    mnth_arr_orig = (pd.DataFrame(scd_df.iloc[elem[0]]))[1:32].values
    mnth_arr = mnth_arr_orig.reshape((1, 31))
    mnth_arr_df = pd.DataFrame(
    data = mnth_arr, 
    columns = [list(range(1, 32))], 
    index = [elem[1]]  
    ) 
    year_schdl_df = pd.concat( [year_schdl_df, mnth_arr_df] )

def data_conv(elem):
    
    # print(elem.iloc[1])
    # print(elem)
    
    for n in range(0,12):
        print(elem.iloc[n])
        try:
            elem = int(elem.iloc[n])
            return elem
        except:
           
            if '/' in elem.iloc[n]:
                elem = elem.iloc[n].replace('/', ' ')
                elem = elem.split(' ')
                d = int(elem[0]) + int(elem[1])*0.4
                return d
            if elem.iloc[n] == 'В':
                return 0
            else:
                return elem*2


year_schdl_df[1] = year_schdl_df[1].apply(data_conv)
# year_schdl_df[1] = year_schdl_df[1].apply(lambda x: 'yr' if '/' in x else x)


display(year_schdl_df)

В

C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Conditional Formatting extension is not supported and will be removed
  warn(msg)
C:\Users\nitys\AppData\Roaming\Python\Python312\site-packages\openpyxl\worksheet\_reader.py:329: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
jan,NaN,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,4/2,11/7,11/7,11/7,11/7,11/7,11/7,11/7
feb,NaN,11/7,11/7,11/7,11/7,11/7,7/5,10,10,10,10,10,10,10,10,10,10,10,10,10,5,В,В,В,В,В,В,В,В,х,х
mar,NaN,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,4/2,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7
apr,NaN,11/7,7/5,10,10,10,10,10,10,10,10,10,10,10,10,10,5,В,В,В,В,В,В,В,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,х
may,NaN,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,В,ОТ,ОТ,ОТ,В,В,4/2,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,7/5,10,10
jun,NaN,10,10,10,10,10,10,10,10,10,10,5,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,х
july,NaN,В,В,В,В,В,В,В,В,4/2,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,7/5,10,10,10,10,10,10,10
aug,NaN,10,10,10,10,10,5,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ
sep,NaN,В,В,4/2,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,7/5,10,10,10,10,10,10,10,10,10,10,10,10,х
oct,NaN,5,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,В,4/2,11/7
nov,NaN,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,11/7,7/5,10,10,10,10,10,10,10,10,10,10,10,10,10,5,В,В,В,х
dec,NaN,В,В,В,В,В,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,ОТ,В,В,4/2,11/7,11/7,11/7,11/7,11/7,11/7

In [45]:
for elem in range(1, 32):
    print(elem)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31