In [6]:
import pandas as pd 

melb_data = pd.read_csv('data/melb_data_ps.csv', sep = ',')
melb_df = melb_data.copy()

display(melb_df.head())

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates
0,0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,...,1,202.0,126.0,1970,Yarra,-37.7996,144.9984,Northern Metropolitan,4019,"-37.7996, 144.9984"
1,1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,...,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019,"-37.8079, 144.9934"
2,2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,...,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019,"-37.8093, 144.9944"
3,3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,...,1,94.0,126.0,1970,Yarra,-37.7969,144.9969,Northern Metropolitan,4019,"-37.7969, 144.9969"
4,4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,...,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019,"-37.8072, 144.9941"

In [8]:
import pandas as pd 

melb_data = pd.read_csv('data/melb_data_ps.csv', sep = ',')
melb_df = melb_data.copy()

melb_df = melb_df.drop( ['index', 'Coordinates'], axis=1 )

display(melb_df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Suburb         13580 non-null  object
 1   Address        13580 non-null  object
 2   Rooms          13580 non-null  int64
 3   Type           13580 non-null  object
 4   Price          13580 non-null  float64
 5   Method         13580 non-null  object
 6   SellerG        13580 non-null  object
 7   Date           13580 non-null  object
 8   Distance       13580 non-null  float64
 9   Postcode       13580 non-null  int64
 10  Bedroom        13580 non-null  int64
 11  Bathroom       13580 non-null  int64
 12  Car            13580 non-null  int64
 13  Landsize       13580 non-null  float64
 14  BuildingArea   13580 non-null  float64
 15  YearBuilt      13580 non-null  int64
 16  CouncilArea    12211 non-null  object
 17  Lattitude      13580 non-null  float64
 18  Longtitude     13580 non-null  float64
 19  Regionname     13580 non-null  object
 20  Propertycount  13580 non-null  int64
dtypes: float64(6), int64(7), object(8)
memory usage: 2.2+ MB

None

In [14]:
import pandas as pd 

melb_data = pd.read_csv('data/melb_data_ps.csv', sep = ',')
melb_df = melb_data.copy()

total_rooms = melb_df['Rooms'] + melb_df['Bedroom'] + melb_df['Bathroom']

melb_df['MeanRoomsArea'] = melb_df['BuildingArea'] / total_rooms

diff_area = melb_df['BuildingArea'] - melb_df['Landsize']
sum_area = melb_df['BuildingArea'] + melb_df['Landsize']

melb_df['AreaRatio'] = diff_area / sum_area

display(melb_df['AreaRatio'])

0       -0.231707
1       -0.327660
2        0.056338
3        0.145455
4        0.083969
           ...
13575   -0.676093
13576   -0.429185
13577   -0.551601
13578   -0.693060
13579   -0.527426
Name: AreaRatio, Length: 13580, dtype: float64

In [18]:
import pandas as pd

customer_df = pd.DataFrame({
        'number': [0, 1, 2, 3, 4],
        'cust_id': [128, 1201, 9832, 4392, 7472],
        'cust_age': [13, 21, 19, 21, 60],
        'cust_sale': [0, 0, 0.2, 0.15, 0.3],
        'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
        'cust_order': [1400, 14142, 900, 1240, 8430]
    })

def delete_columns(df, col=[]):
    if col[0] not in df.columns.tolist():
        return None     
    
    else:
        result = df.drop(col, axis = 1)
        return result
    
print(delete_columns(customer_df, col='number'))    

# display(customer_df)

None

In [25]:
import pandas as pd

test_df_1 = pd.DataFrame({
            'number': [0, 1, 2, 3, 4],
            'cust_id': [128, 1201, 9832, 4392, 7472],
            'cust_age': [13, 21, 19, 21, 60],
            'cust_sale': [0, 0, 0.2, 0.15, 0.3],
            'cust_year_birth': [2008, 2000, 2002, 2000, 1961],
            'cust_order': [1400, 14142, 900, 1240, 8430]
        })

def delete_columns(df, col=[]):
    
    for elem in col:
        if elem not in df.columns.tolist():
            return None
    
    result = df.drop(col, axis = 1)
    return result     
    
   

print(delete_columns(col = ['cust_sale', 'asf'], df = test_df_1))

None

In [17]:
a = ['ab']
c = a
b=['ab','4','5']
print(type(c))
print(c[0])
if c[0] in b:
    print('fasfas')

<class 'list'>
ab
fasfas

In [29]:
import pandas as pd

countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})

countries_df_copy = countries_df.copy()

pop_den = countries_df_copy['population']*(10**6) / countries_df_copy['area']


countries_df_copy['pop_den'] = pop_den





display(countries_df_copy['pop_den'].mean())

84.93080566562001

In [42]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

year_sold = melb_df['Date'].dt.year

print(year_sold)
print('Минимальный год продажи:', year_sold.min())
print('Максимальный год продажи:', year_sold.max())
print('Мода года продажи:', year_sold.mode()[0])

0        2016
1        2016
2        2017
3        2017
4        2016
         ...
13575    2017
13576    2017
13577    2017
13578    2017
13579    2017
Name: Date, Length: 13580, dtype: int32
Минимальный год продажи: 2016
Максимальный год продажи: 2017
Мода года продажи: 2017

In [3]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

melb_df['MonthSale']= melb_df['Date'].dt.month
melb_df.head()

melb_df['MonthSale'].value_counts(normalize=True)

MonthSale
5     0.149411
7     0.145950
9     0.135862
6     0.134757
8     0.114138
11    0.082032
4     0.069882
3     0.049926
12    0.044698
10    0.040574
2     0.032622
1     0.000147
Name: proportion, dtype: float64

In [8]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

delta_days = melb_df['Date'] - pd.to_datetime('2016-01-01')
display(delta_days.dt.days)

0        337
1         34
2        428
3        428
4        155
        ...
13575    603
13576    603
13577    603
13578    603
13579    603
Name: Date, Length: 13580, dtype: int64

In [38]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']

melb_df = melb_df.drop('YearBuilt', axis=1)

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

weekend_count = len( melb_df[melb_df['WeekdaySale']==6] ) + len( melb_df[melb_df['WeekdaySale']==5] ) 
# display(melb_df['WeekdaySale'])
print(weekend_count)

12822

In [82]:
import pandas as pd
from datetime import timedelta

ufo = pd.read_csv('data/ufo.csv', sep=',')

ufo['Time'] = pd.to_datetime(ufo['Time'])

ufo['Year'] = ufo['Time'].dt.year 

criteria_st = ufo['State'] == 'NV'

display(ufo[ criteria_st ]['Time'].dt.date.diff().mean().days)

# delta = timedelta(ufo[ criteria_st ]['Time'].dt.date.diff().mean())

display(ufo[ufo['State'] == 'TX']['Year'].value_counts(normalize=True))

display(ufo['Year'].value_counts(normalize=True))

68

Year
1999    0.143135
2000    0.142162
1998    0.092502
1997    0.074002
1995    0.044791
1996    0.040896
1978    0.020448
1973    0.019474
1992    0.018500
1975    0.018500
1993    0.017527
1976    0.016553
1980    0.015579
1985    0.015579
1968    0.014606
1972    0.014606
1989    0.014606
1988    0.014606
1979    0.013632
1991    0.013632
1990    0.013632
1987    0.013632
1984    0.013632
1986    0.013632
1977    0.012658
1957    0.012658
1994    0.012658
1966    0.010711
1974    0.009737
1983    0.009737
1965    0.009737
1967    0.008763
1971    0.007790
1970    0.007790
1981    0.007790
1982    0.007790
1969    0.006816
1954    0.005842
1953    0.004869
1963    0.004869
1961    0.004869
1964    0.003895
1962    0.003895
1958    0.003895
1952    0.003895
1949    0.002921
1960    0.002921
1955    0.002921
1956    0.002921
1950    0.001947
1959    0.001947
1946    0.000974
1948    0.000974
1947    0.000974
1945    0.000974
Name: proportion, dtype: float64

Year
1999    0.152075
2000    0.144455
1998    0.095554
1995    0.073680
1997    0.067814
          ...
1936    0.000110
1930    0.000110
1935    0.000055
1934    0.000055
1933    0.000055
Name: proportion, Length: 68, dtype: float64

In [120]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

def get_street_type(address):
    exclude_list = ['N', 'S', 'W', 'E']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list: 
        street_type = address_list[-2]
        
    return street_type

street_types = melb_df['Address'].apply(get_street_type)
# display(street_types.describe)

# print(street_types.value_counts())

melb_df['StreetType'] = street_types

display(melb_df[melb_df['StreetType'] == 'Avenue'].head())
# print(melb_df['Address'].loc[177])
# print(melb_df['Address'].loc[1812])
# print(melb_df['Address'].loc[9001])

,index,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Coordinates,StreetType
1957,1957,Coburg,1e The Avenue,3,h,763000.0,S,Woodards,14/05/2016,7.8,...,107.0,110.0,1994,Moreland,-37.7517,144.9630,Northern Metropolitan,11204,"-37.7517, 144.963",Avenue
1990,1990,Coburg,144 The Avenue,4,h,1250000.0,VB,Nelson,23/04/2016,7.8,...,515.0,249.0,1900,Moreland,-37.7537,144.9766,Northern Metropolitan,11204,"-37.7537, 144.9766",Avenue
2006,2006,Coburg,185 The Avenue,4,h,1461000.0,S,Jellis,25/02/2017,7.8,...,571.0,126.0,1970,Moreland,-37.7535,144.9779,Northern Metropolitan,11204,"-37.7535, 144.9779",Avenue
4575,4575,Parkville,12/238 The Avenue,3,u,1360000.0,S,Jellis,3/12/2016,2.6,...,0.0,139.0,1970,Melbourne,-37.7818,144.9576,Northern Metropolitan,2309,"-37.7818, 144.9576",Avenue
4578,4578,Parkville,47/202 The Avenue,1,u,395000.0,SP,Woodards,11/02/2017,2.6,...,2469.0,126.0,1970,Melbourne,-37.7827,144.9575,Northern Metropolitan,2309,"-37.7827, 144.9575",Avenue

In [1]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

def get_street_type(address):
    exclude_list = ['N', 'S', 'W', 'E']
    address_list = address.split(' ')
    street_type = address_list[-1]
    if street_type in exclude_list: 
        street_type = address_list[-2]
        
    return street_type

optimize_st_type = {'Avenue': 'Av', 'Boulevard': 'Bvd', 'Parade':'Pde'}

melb_df['StreetType'] = street_types.apply(lambda x: optimize_st_type[x] if x in optimize_st_type.keys() else x)

street_types = melb_df['Address'].apply(get_street_type)

popular_stypes = street_types.value_counts().nlargest(10).index

print(popular_stypes)

melb_df['StreetType'] = street_types.apply(lambda x: x if x in popular_stypes else 'other')

display(melb_df['StreetType'])

print(melb_df['StreetType'].nunique())

melb_df = melb_df.drop('Address', axis=1)

display(melb_df.iloc[1957])

NameError: name 'street_types' is not defined

In [16]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

melb_df['Date'] = pd.to_datetime(melb_df['Date'], dayfirst=True)

melb_df['AgeBuilding'] = melb_df['Date'].dt.year - melb_df['YearBuilt']

melb_df = melb_df.drop('YearBuilt', axis=1)

melb_df['WeekdaySale'] = melb_df['Date'].dt.dayofweek

def get_weekend(weekday): 
    if weekday == 5 or weekday == 6:
        return 1
    else:
        return 0 
    
melb_df['Weekend'] = melb_df['WeekdaySale'].apply(get_weekend)

# display(melb_df[melb_df['Weekend'] == 1]['Price'].mean()  )

popular_agency = melb_df['SellerG'].value_counts().nlargest(49).index

# print(popular_agency)

melb_df['SellerG'] = melb_df['SellerG'].apply(lambda x: x if x in popular_agency else 'other')

# display(melb_df['SellerG'].value_counts())

Nelson_min = melb_df[ melb_df['SellerG'] == 'Nelson' ]['Price'].min()
other_min = melb_df[ melb_df['SellerG'] == 'other' ]['Price'].min()

print(Nelson_min)
print(other_min)

print(Nelson_min/other_min)

170000.0
131000.0
1.297709923664122

In [5]:
import pandas as pd

sample = pd.Series(data = ['Опыт работы 8 лет 3 месяца', 'Опыт работы 1 год 2 месяца', 'Опыт работы 6 лет'])

def get_experience(arg):
   
    arg_list = arg.split(' ')
    
    total_month = 0
    
    if arg_list[-1].startswith('мес'):
        total_month += int(arg_list[-2])
    if arg_list[-1].startswith('лет') or arg_list[-1].startswith('го'):
        total_month += (int(arg_list[-2])*12)
    if arg_list[-3].startswith('лет') or arg_list[-3].startswith('го'):
        try:
            total_month += (int(arg_list[-4])*12)
        except:
            pass

    
    return total_month

 

sample.apply(get_experience)

0    99
1    14
2    72
dtype: int64

In [21]:
list_r = ['asd', 'fasd', 'fasfasf']

if list_r[-1].startswith('fas'):
    print('trueeee')

# print(type(list_r[-1]))

# for i in list_r:
#     print(i)
    
# n = 0
# while n <= 3:
#     print(n)
#     n+=1

trueeee

In [1]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

unique_list = []

for col in melb_df.columns:
    item = (col, melb_df[col].nunique(), melb_df[col].dtypes)
    unique_list.append(item)
    
unique_counts = pd.DataFrame(unique_list, columns=['Column_name', 'Num_unique', 'Type']).sort_values(by='Num_unique', ignore_index=True)

# display(unique_counts)


cols_to_exclude = ['Date', 'Rooms', 'Bedroom', 'Bathroom', 'Car']

max_unique_count = 150

for col in melb_df.columns:
    if melb_df[col].nunique() < max_unique_count and col not in cols_to_exclude:
        melb_df[col] = melb_df[col].astype('category')


# display(melb_df.info())

# print(melb_df['Regionname'].cat.categories)

melb_df['Type'] = melb_df['Type'].cat.rename_categories( {
    'u':'unit',
    'h':'house',
    't':'townhouse'
    } )

display(melb_df['Type'])

0        house
1        house
2        house
3        house
4        house
         ...
13575    house
13576    house
13577    house
13578    house
13579    house
Name: Type, Length: 13580, dtype: category
Categories (3, object): ['house', 'townhouse', 'unit']

In [29]:
import pandas as pd

melb_df = pd.read_csv('data/melb_data_ps.csv', sep=',')

popular_sub = melb_df['Suburb'].value_counts().nlargest(119).index

display(popular_sub)

melb_df['Suburb'] = melb_df['Suburb'].apply(lambda x: x if x in popular_sub else 'other')

melb_df['Suburb'].describe()

melb_df['Suburb'] = melb_df['Suburb'].astype('category')

melb_df.info()

Index(['Reservoir', 'Richmond', 'Bentleigh East', 'Preston', 'Brunswick',
       'Essendon', 'South Yarra', 'Glen Iris', 'Hawthorn', 'Coburg',
       ...
       'Albion', 'Hoppers Crossing', 'Sunbury', 'Greensborough', 'Bundoora',
       'Hughesdale', 'Chadstone', 'Caulfield North', 'Mont Albert',
       'Alphington'],
      dtype='object', name='Suburb', length=119)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13580 entries, 0 to 13579
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          13580 non-null  int64
 1   Suburb         13580 non-null  category
 2   Address        13580 non-null  object
 3   Rooms          13580 non-null  int64
 4   Type           13580 non-null  object
 5   Price          13580 non-null  float64
 6   Method         13580 non-null  object
 7   SellerG        13580 non-null  object
 8   Date           13580 non-null  object
 9   Distance       13580 non-null  float64
 10  Postcode       13580 non-null  int64
 11  Bedroom        13580 non-null  int64
 12  Bathroom       13580 non-null  int64
 13  Car            13580 non-null  int64
 14  Landsize       13580 non-null  float64
 15  BuildingArea   13580 non-null  float64
 16  YearBuilt      13580 non-null  int64
 17  CouncilArea    12211 non-null  object
 18  Lattitude      13580 non-null  float64
 19  Longtitude     13580 non-null  float64
 20  Regionname     13580 non-null  object
 21  Propertycount  13580 non-null  int64
 22  Coordinates    13580 non-null  object
dtypes: category(1), float64(6), int64(8), object(8)
memory usage: 2.3+ MB